body {
	background-color: #E7E4D7;
}

.container {
	position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 150px);

  width: 500px;
  height: 300px;
  
  border: 5px #E75A4D solid;
  background-color: white;
}

.r1{
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 100px);

  width: 300px;
  height: 200px;  

  background-color: #E75A4D;
  border-radius: 25px;

  overflow: hidden;
}

.r2{
	position: absolute;
  left: calc(50% - 110px);
  top: calc(50% - 100px);

  width: 220px;
  height: 200px;  

  background-color: #E7E4D7;
}

.t1{
	position: absolute;
	left: calc(50% - 190px);
	top: 0;

  width: 0; 
  height: 0;

  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
  border-bottom: 140px solid #E75A4D;

  transform: rotate(180deg);
}

.t2{
	position: absolute;
	left: calc(50% - 190px);
	top: -50px;

  width: 0; 
  height: 0;

  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
  border-bottom: 140px solid #E7E4D7;

  transform: rotate(180deg);
}