body {
	background-color: black;
}

.container {
	position: absolute;  
  left: calc(50% - 250px);
  top: calc(50% - 150px);

  width: 500px;
  height: 300px;
  
  border: 5px #0000AF solid;
  background-color: black;
  border-radius: 10px;
}